h4 Отправка сообщений
form(action='/api/v1/chat' method='POST' enctype='application/x-www-form-urlencoded')
    textarea(name="message" cols="50" rows="3")
    br
    button(type="submit") ОТПРАВИТЬ СООБЩЕНИЕ
